th{
    width: fit-content;
    border: px solid olivedrab;
    background-color: olivedrab;
    border-collapse: collapse;
}

body{
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 25px;
    font-size: medium;
    width: 600px;
    margin: auto;
    color: black;
}